body {
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
    display: block;
    height: 100%;
}

.post {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btns2 {
    height: 50px;
    width: 160px;
    padding: 10px;
    border-radius: 2px;
    align-items: center;
    cursor: pointer;
    font-size: 100%;
    background: goldenrod;
    color: black;
    float: center;
    margin: 10px 10px 0px 0px;
}