.container {
    padding-top: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.postcard {
    height: 170px;
    display: flex;
    border-radius: 30px;
    flex-direction: row;
    border-radius: 30px;
    margin: 10px;
    width: 500px;
    transition: box-shadow .3s;
}

.postcard:hover {
    box-shadow: 0 0 5px 5px rgba(33, 33, 33, .2);
}

#btnYes {
    width: 85px;
    margin-right: 130px;
}

#btnNo {
    width: 85px;
}

.sidesquare {
    height: 170px;
    width: 17%;
    text-align: center;
    background-color: white;
    padding: 50px 7px;
    font-size: 16px;
    font-weight: bold;
    color: gray;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.postbody {
    height: 170px;
    background-color: lightgray;
    width: 83%;
    padding: 7px;
    font-size: 14px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.postbodyheading {
    color: gray;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.posttext {
    overflow: hidden;
    white-space: normal;
    height: 5.8em;
    text-overflow: -o-ellipsis-lastline;
}

.trash-button {
    float: right;
    padding-right: 10px;
    size: 10px;
    cursor: pointer;
}

.ellipsis {
    margin-left: 360px;
    color: grey;
    cursor: pointer;
    padding-right: 120px;
}